body {
    background-color: darkblue;
}

.options {
    padding-top: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#message-box {
    margin-top: 2rem;
    font-size: 1.15rem;
}

.footer h6 {
    padding: 2rem 0;
}

.header h1 {
    padding: 1.5rem 0;
}
